[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = ["corepack enable", "corepack prepare pnpm@latest --activate", "pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["cd apps/web && pnpm build"]

[start]
cmd = "cd apps/web && pnpm start"

