[phases.setup]
nixPkgs = ["nodejs-20_x"]

[phases.install]
cmds = ["corepack enable", "corepack prepare pnpm@latest --activate", "pnpm install --frozen-lockfile --ignore-scripts"]

[phases.build]
cmds = ["cd apps/web && pnpm build"]

[start]
cmd = "cd apps/web && pnpm start"

