[phases.setup]
nixPkgs = ["nodejs-18_x", "pnpm"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["cd apps/web && pnpm build"]

[start]
cmd = "cd apps/web && pnpm start"

